@use "../styles/global.scss" as var;

.field {
  display: flex;
  flex-direction: column;
  position: relative;

  &.field-invalid {
    & .field_input {
      background-color: var.$errorColorLight;
      border-color: var.$errorColor;
    }

    & .field_label {
      color: var.$errorColor;
    }

    &::after {
      display: block;
      content: attr(data-err);
      width: 100%;
      padding: var.$stepSmall var.$stepBig 0;
      font-size: var.$smallFontSize;
      text-align: center;
      color: var.$errorColor;
    }
  }
}

.field_input {
  padding: var.$stepSmall;
  border-radius: var.$stepSmall;
  border-color: var.$midGray;
  font-size: var.$mainFontSize;
  text-overflow: ellipsis;
}

.field_label {
  padding: calc(var.$stepSmall / 2);
  color: var.$darkGray;
}
