$stepBig: 30px;
$stepSmall: calc($stepBig / 3);
$stepMed: calc($stepSmall * 2);

$sizeX: 1200px;
$sizeS: 550px;
$minHeight: 700px;

$mainFontSize: 16px;
$smallFontSize: 12px;

$lightGray: #DDD;
$midGray: #c4c4c4;
$darkGray: #909090;

$normalColorLight: #c4e5ff;
$normalColor: #569aff;

$errorColorLight: #ffe6e6;
$errorColor: #ff6666;
