$stepBig: 30px;
$stepSmall: $stepBig / 3;
$stepMed: $stepSmall * 2;

$sizeX: 1200px;
$sizeS: 500px;

$mainFontSize: 16px;
$smallFontSize: 12px;

$lightGray: #DDD;
$midGray: #c4c4c4;

$errorColorLight: #ffe6e6;
$errorColor: #ff6666;

