@use "../styles/global.scss" as var;

:root {
  font-family: sans-serif;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;


  @media screen and (max-height: var.$minHeight) and (min-width:var.$sizeX) {
    padding-top: calc(var.$stepBig * 2);
    padding-bottom: calc(var.$stepBig * 2);
  }
}
